.alpha
{
    margin-top: 100;
    background: rgb(71, 71, 69);
    width: 500;
    border-radius: 25px;
    border-width: 5px;
    border-color: rgb(20, 20, 20);
    border-style: outset;
    font-style: italic;
    font: bold;
    font: italic;   
    text-underline-position: below;    
   
}
.beta
{
    background-color: rgb(75, 75, 75);
    box-shadow: 25px;
    border-radius: 5px;
    width: 500;  
    height: 250;
   
    
}
.gama
{
   
    margin-top: 50;
    margin: 20; 
    border-radius: 50px;
    border: 5px outset;
    border-color: rgb(22, 21, 22);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; 
}
