.poetlayout {
  border: 3px solid seagreen;
  width: 40%;
  height: 100px;
  float: left;
}

.poetlayout .imagelayout {
  float: left;

  width: 50%;
}
.poetlayout .imagelayout img {
  width: 150px;
  height: 100px;
}

.poetlayout .info {
  float: left;
  font-size: small;
  width: 50%;
  height: 80%;
}
