<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet_25dec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>log2</servlet-name>
    <servlet-class>study.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log2</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>log3</servlet-name>
    <servlet-class>study.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log3</servlet-name>
    <url-pattern>/login3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bk</servlet-name>
    <servlet-class>study.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bk</servlet-name>
    <url-pattern>/book2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bk2</servlet-name>
    <servlet-class>study.SearchInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bk2</servlet-name>
    <url-pattern>/book3</url-pattern>
  </servlet-mapping>
</web-app>